**
!integrations/
!integrations/dsa/
!integrations/dsa/*.py
!integrations/dsa/requirements.txt
!Dockerfile.vercel
!integrations/prediction/
!integrations/prediction/*.py
!integrations/prediction/LICENSE
!integrations/prediction/PROVENANCE.md
!integrations/prediction/SOURCE_MANIFEST.json
